<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Veritabanı bağlantı ayarları -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/courses_db</property>
        <property name="hibernate.connection.username">dev_user</property>
        <property name="hibernate.connection.password">dev_password</property>
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="current_session_context_class">thread</property>

        <!-- Veritabanı dialekti -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Etkinleştirilen özellikler -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">none</property>
        <!-- Entity sınıflarının paketleri -->
        <mapping class="hibernate.Employee"/>
        <mapping class="hibernatequerylanguage.Employeee"/>
        <mapping class="hibernatequerylanguage.Address"/>



        <!-- Ek yapılandırma ayarları -->
        <!-- ... -->
    </session-factory>
</hibernate-configuration>